# Vercel Blob Storage Read/Write Token
# Generate free in Vercel Dashboard -> Storage -> Blob -> Quickstart / Settings
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_xxxxxxxxxxxxxxxxxxxxxxxx

# Local Port (Optional)
PORT=3000
